templates/ProcurementCSV_TwoFishGeoOnZip_Elastic.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>This template is used to take the procurment CSV data and feed it into ElasticSearch.  It makes use of the InferAvroSchema to martial the data into avro and then into json while extracting geo coordinates based on zipcode.</description>
  <groupId>427b88cf-015a-1000-b100-603244e03a40</groupId>
  <name>ProcurementCSV_TwoFishGeoOnZip_Elastic</name>
  <snippet>
    <connections>
      <id>95b67002-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>95ab7100-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>902194f2-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>95ba94f6-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>95ac00b0-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>95ab7100-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>95e056d2-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>95e03a79-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>95ac00b0-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>aed5fc0c-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>100</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>aed50105-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>95e03a79-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>aed61007-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>100</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>aed5c695-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>aed50105-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>aed63e58-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>100</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>95ac2baa-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>aed5c695-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>aed8f230-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>100</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>aed7e0ea-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>95ac2baa-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d0d41380-100c-115a-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>100</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>d0d41376-100c-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>aed7e0ea-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d0d41381-100c-115a-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>100</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>90276475-015a-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>d0d41379-100c-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d0d41382-100c-115a-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>100</backPressureObjectThreshold>
      <destination>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>d0d41379-100c-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Original</selectedRelationships>
      <source>
        <groupId>427b88cf-015a-1000-0000-000000000000</groupId>
        <id>d0d41376-100c-115a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>902194f2-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1.8344806436525687</x>
        <y>1.400288938463632</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/opt/data/in</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>90276475-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1573.523982204495</x>
        <y>655.7600097421379</y>
      </position>
      <config>
        <bulletinLevel>INFO</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>elasticsearch-http-url</key>
            <value>
              <name>elasticsearch-http-url</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>elasticsearch-http-connect-timeout</key>
            <value>
              <name>elasticsearch-http-connect-timeout</name>
            </value>
          </entry>
          <entry>
            <key>elasticsearch-http-response-timeout</key>
            <value>
              <name>elasticsearch-http-response-timeout</name>
            </value>
          </entry>
          <entry>
            <key>put-es-id-attr</key>
            <value>
              <name>put-es-id-attr</name>
            </value>
          </entry>
          <entry>
            <key>put-es-index</key>
            <value>
              <name>put-es-index</name>
            </value>
          </entry>
          <entry>
            <key>put-es-type</key>
            <value>
              <name>put-es-type</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>put-es-batch-size</key>
            <value>
              <name>put-es-batch-size</name>
            </value>
          </entry>
          <entry>
            <key>put-es-index-op</key>
            <value>
              <name>put-es-index-op</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>elasticsearch-http-url</key>
            <value>http://172.17.0.2:9200</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>elasticsearch-http-connect-timeout</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>elasticsearch-http-response-timeout</key>
            <value>15 secs</value>
          </entry>
          <entry>
            <key>put-es-id-attr</key>
            <value>id</value>
          </entry>
          <entry>
            <key>put-es-index</key>
            <value>demo</value>
          </entry>
          <entry>
            <key>put-es-type</key>
            <value>procurement</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>put-es-batch-size</key>
            <value>100</value>
          </entry>
          <entry>
            <key>put-es-index-op</key>
            <value>index</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutElasticsearchHttp</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
    </processors>
    <processors>
      <id>95ab7100-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>212.31295561188688</y>
      </position>
      <config>
        <bulletinLevel>DEBUG</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Schema Output Destination</key>
            <value>
              <name>Schema Output Destination</name>
            </value>
          </entry>
          <entry>
            <key>Input Content Type</key>
            <value>
              <name>Input Content Type</name>
            </value>
          </entry>
          <entry>
            <key>CSV Header Definition</key>
            <value>
              <name>CSV Header Definition</name>
            </value>
          </entry>
          <entry>
            <key>Get CSV Header Definition From Data</key>
            <value>
              <name>Get CSV Header Definition From Data</name>
            </value>
          </entry>
          <entry>
            <key>CSV Header Line Skip Count</key>
            <value>
              <name>CSV Header Line Skip Count</name>
            </value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>
              <name>CSV delimiter</name>
            </value>
          </entry>
          <entry>
            <key>CSV Escape String</key>
            <value>
              <name>CSV Escape String</name>
            </value>
          </entry>
          <entry>
            <key>CSV Quote String</key>
            <value>
              <name>CSV Quote String</name>
            </value>
          </entry>
          <entry>
            <key>Pretty Avro Output</key>
            <value>
              <name>Pretty Avro Output</name>
            </value>
          </entry>
          <entry>
            <key>Avro Record Name</key>
            <value>
              <name>Avro Record Name</name>
            </value>
          </entry>
          <entry>
            <key>Number Of Records To Analyze</key>
            <value>
              <name>Number Of Records To Analyze</name>
            </value>
          </entry>
          <entry>
            <key>Charset</key>
            <value>
              <name>Charset</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Schema Output Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Input Content Type</key>
            <value>csv</value>
          </entry>
          <entry>
            <key>CSV Header Definition</key>
          </entry>
          <entry>
            <key>Get CSV Header Definition From Data</key>
            <value>true</value>
          </entry>
          <entry>
            <key>CSV Header Line Skip Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>,</value>
          </entry>
          <entry>
            <key>CSV Escape String</key>
            <value>\</value>
          </entry>
          <entry>
            <key>CSV Quote String</key>
            <value>"</value>
          </entry>
          <entry>
            <key>Pretty Avro Output</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Avro Record Name</key>
            <value>procurement</value>
          </entry>
          <entry>
            <key>Number Of Records To Analyze</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Charset</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>InferAvroSchema</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unsupported content</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
    </processors>
    <processors>
      <id>95ac00b0-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>8.054890481555049</x>
        <y>424.97094937043676</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop configuration files</key>
            <value>
              <name>Hadoop configuration files</name>
            </value>
          </entry>
          <entry>
            <key>Record schema</key>
            <value>
              <name>Record schema</name>
            </value>
          </entry>
          <entry>
            <key>CSV charset</key>
            <value>
              <name>CSV charset</name>
            </value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>
              <name>CSV delimiter</name>
            </value>
          </entry>
          <entry>
            <key>CSV quote character</key>
            <value>
              <name>CSV quote character</name>
            </value>
          </entry>
          <entry>
            <key>CSV escape character</key>
            <value>
              <name>CSV escape character</name>
            </value>
          </entry>
          <entry>
            <key>Use CSV header line</key>
            <value>
              <name>Use CSV header line</name>
            </value>
          </entry>
          <entry>
            <key>Lines to skip</key>
            <value>
              <name>Lines to skip</name>
            </value>
          </entry>
          <entry>
            <key>kite-compression-type</key>
            <value>
              <name>kite-compression-type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop configuration files</key>
          </entry>
          <entry>
            <key>Record schema</key>
            <value>${inferred.avro.schema}</value>
          </entry>
          <entry>
            <key>CSV charset</key>
            <value>utf8</value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>,</value>
          </entry>
          <entry>
            <key>CSV quote character</key>
            <value>"</value>
          </entry>
          <entry>
            <key>CSV escape character</key>
            <value>\</value>
          </entry>
          <entry>
            <key>Use CSV header line</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Lines to skip</key>
            <value>0</value>
          </entry>
          <entry>
            <key>kite-compression-type</key>
            <value>SNAPPY</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertCSVToAvro</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>incompatible</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kite.ConvertCSVToAvro</type>
    </processors>
    <processors>
      <id>95ac2baa-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>523.1151257922884</x>
        <y>622.3492825266624</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JSON container options</key>
            <value>
              <name>JSON container options</name>
            </value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>
              <name>Wrap Single Record</name>
            </value>
          </entry>
          <entry>
            <key>Avro schema</key>
            <value>
              <name>Avro schema</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JSON container options</key>
            <value>array</value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Avro schema</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertAvroToJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
    </processors>
    <processors>
      <id>95e03a79-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>531.8800107422476</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Split Strategy</key>
            <value>
              <name>Split Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Output Size</key>
            <value>
              <name>Output Size</name>
            </value>
          </entry>
          <entry>
            <key>Output Strategy</key>
            <value>
              <name>Output Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Transfer Metadata</key>
            <value>
              <name>Transfer Metadata</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Split Strategy</key>
            <value>Record</value>
          </entry>
          <entry>
            <key>Output Size</key>
            <value>5000</value>
          </entry>
          <entry>
            <key>Output Strategy</key>
            <value>Datafile</value>
          </entry>
          <entry>
            <key>Transfer Metadata</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitAvroBy5000</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.avro.SplitAvro</type>
    </processors>
    <processors>
      <id>aed50105-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>530.825355357988</x>
        <y>210.04205633778167</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Split Strategy</key>
            <value>
              <name>Split Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Output Size</key>
            <value>
              <name>Output Size</name>
            </value>
          </entry>
          <entry>
            <key>Output Strategy</key>
            <value>
              <name>Output Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Transfer Metadata</key>
            <value>
              <name>Transfer Metadata</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Split Strategy</key>
            <value>Record</value>
          </entry>
          <entry>
            <key>Output Size</key>
            <value>1000</value>
          </entry>
          <entry>
            <key>Output Strategy</key>
            <value>Datafile</value>
          </entry>
          <entry>
            <key>Transfer Metadata</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitAvroBy1000</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.avro.SplitAvro</type>
    </processors>
    <processors>
      <id>aed5c695-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>527.5445868575543</x>
        <y>415.8120629111712</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Split Strategy</key>
            <value>
              <name>Split Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Output Size</key>
            <value>
              <name>Output Size</name>
            </value>
          </entry>
          <entry>
            <key>Output Strategy</key>
            <value>
              <name>Output Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Transfer Metadata</key>
            <value>
              <name>Transfer Metadata</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Split Strategy</key>
            <value>Record</value>
          </entry>
          <entry>
            <key>Output Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Output Strategy</key>
            <value>Datafile</value>
          </entry>
          <entry>
            <key>Transfer Metadata</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitAvro</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.avro.SplitAvro</type>
    </processors>
    <processors>
      <id>aed7e0ea-015a-1000-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>959.751624404832</x>
        <y>204.9696679158602</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>id</key>
            <value>
              <name>id</name>
            </value>
          </entry>
          <entry>
            <key>zipcode</key>
            <value>
              <name>zipcode</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>id</key>
            <value>$.unique_transaction_id</value>
          </entry>
          <entry>
            <key>zipcode</key>
            <value>$.zipcode</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Set_Id_Zipcode</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>d0d41376-100c-115a-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1562.1796855310304</x>
        <y>212.73384992597323</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HTTP Method</key>
            <value>
              <name>HTTP Method</name>
            </value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>
              <name>Remote URL</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>
              <name>Read Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>
              <name>Include Date Header</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Send</key>
            <value>
              <name>Attributes to Send</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
            <value>
              <name>Basic Authentication Username</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
            <value>
              <name>Basic Authentication Password</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>invokehttp-proxy-user</key>
            <value>
              <name>invokehttp-proxy-user</name>
            </value>
          </entry>
          <entry>
            <key>invokehttp-proxy-password</key>
            <value>
              <name>invokehttp-proxy-password</name>
            </value>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
            <value>
              <name>Put Response Body In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>
              <name>Max Length To Put In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>
              <name>Digest Authentication</name>
            </value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>
              <name>Always Output Response</name>
            </value>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
            <value>
              <name>Trusted Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>
              <name>Add Response Headers to Request</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>send-message-body</key>
            <value>
              <name>send-message-body</name>
            </value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>
              <name>Use Chunked Encoding</name>
            </value>
          </entry>
          <entry>
            <key>Penalize on "No Retry"</key>
            <value>
              <name>Penalize on "No Retry"</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HTTP Method</key>
            <value>GET</value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>http://172.17.0.5:8081/?query=${zipcode:substring(0,5)}</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>15 secs</value>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Attributes to Send</key>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>invokehttp-proxy-user</key>
          </entry>
          <entry>
            <key>invokehttp-proxy-password</key>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
            <value>geojson</value>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>5000</value>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>${mime.type}</value>
          </entry>
          <entry>
            <key>send-message-body</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Penalize on "No Retry"</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>TwoFish GeoCoder</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>No Retry</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Original</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Response</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Retry</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
    </processors>
    <processors>
      <id>d0d41379-100c-115a-0000-000000000000</id>
      <parentGroupId>427b88cf-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1576.5239968009182</x>
        <y>438.3583952638528</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>python</value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>/opt/data/scripts/jython_add_geocoords.py</value>
          </entry>
          <entry>
            <key>Script Body</key>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>AddGeoCoordsToJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
  </snippet>
  <timestamp>03/13/2017 20:01:29 UTC</timestamp>
</template>